*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
     background-color: #e2dede;
}
.header{
    font-weight: lighter;
    font: #595959;
    font-size: 12px;
    font-weight: 400;
  
}
.head{
    height: 40px;
      text-align:right;
      margin-right: 50px;
      padding-top: 10px;
}
.first-image{
    width:130px ;
  
}
.nav-logos{
    height: auto;
    width: 20px;
}
.Para{
font-size: 16px;
line-height: 26px;
font-weight: 400;
color: #595959;
}
#Button{
    color: #000000;
    font-size: 20px;
    letter-spacing: 0.5px;
}
#middle{
    padding-top: 50px;
    height: 190px;
    background-color: white;
font-size: 30px;
line-height: 40px;
font-weight: 600;
text-align: center;


}
.Middle-para{
   font-size: 16px; 
   color: #595959;
   font-weight: 400;
  
}
#blog{
    padding-top: 20px;
    border: none;
    height: 370px;
}
.blog-para{
      font-size: 16px; 
   color: #595959;
   font-weight: 400;
}
.blog-images{
    width: 25px;
    height: auto;
    margin-right: 25px;
   
}
#blog-text{
   margin-left: 20px;
}
.blog-button{
border: none;
border-bottom: 3px solid yellow;
  background: transparent; 
  padding-bottom: 2px;
  letter-spacing: 0.5px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
.blog-lastpart{
    margin-top: 15px;
}
#blog2{
    border: none;
    height: 370px;
}
.second-image{
    width: 80px;
    height: auto;
}
#package{
    font-size: 20px;
    font-weight: 400;
    color:#191919 ;
}
#secondimg-button{
    font-size: 30px;
    letter-spacing: 1px;
    color: #191919 ;
    font-weight: 600;
    border: 0px solid #ffffff;
    background-color: #ffd801;
}
#second-middle{
    padding-top: 50px;
    height: 190px;
    background-color: white;
font-size: 30px;
line-height: 40px;
font-weight: 600;
text-align: center; 
}
#paragliding{
    
    height: 300px;
}
#cards{
    border: none;
    border-radius: 0;
}
#cards2{
     border: none;
    border-radius: 0;
}
#maldives{
    height: 300px;
}
#Footer{
    background-color: black;
    transform: translate(0px,-47px);
  
   
}
.footer-img{
    width: 150px;
    height: auto;
transform: translate(0px,-40px);
}
.line{
    border-top: 1px solid white;
    width: 80%;
    margin: 0px auto;

}
.social-icon{
    font-size: 20px;
    border: 2px solid white;
    border-radius: 100%;
    padding: 5px;
    margin-right:10px ;
}
#last-part{
    justify-content: space-around;
}